.IonTitleStyle {
    font-size: 20px;
    background: linear-gradient(to right, #36ecde, #000000);
    color: whitesmoke;
}

.IonItemStyle {
    margin-top: 5%;
}

.IonListHeaderStyle {
    text-align: center;
    color: blue;
}