.IonTitleStyle {
    font-size: 20px;
    background: linear-gradient(to right, #36ecde, #000000);
    color: whitesmoke;
}

.IonTextStyle {
    font-weight: bold;
    font-size: 20px;
}

.IonContentStyle {
    text-align: center;
    top: 2%;
}
